# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
.idea/
.pypirc

# .DS_Store
*.DS_Store

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# Environments
.env
.venv
env/
venv/
venv*/
.venv*/
testenv_3.9/
ENV/
env.bak/
venv.bak/

# Data source for trainings
data/
model_artifacts/
metadata/

pytest*.xml
/src/tests/**/text_contained_nested_structures.csv
/src/test/.pytest_cache/

.vscode/
.log*

#build files
build/
dist/
*.egg-info/
*.egg

# Syngen test data
test_data/