<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Accuracy Report</title>
</head>
<body>
<h1>Accuracy report</h1>
<div>
    <p>The accuracy heatmap is calculated in the following way: for each pair of original columns a similarity
        between them (the Jensen-Shannon distance) is measured. The same operations is performed on the same pair
        of columns in the synthetic dataset. The resulting score is calculated as
        1 - abs(original_score - synthetic_score)</p>
    <img src="{{accuracy_heatmap}}" width="700">
    <p>Median accuracy is: {{accuracy_value}}</p>
</div>
<div>
    <h2>Univariate distributions</h2>
    <p>The univariate distributions are either the density plots for original vs synthetic values overlapped
        for continous columns or barplots for original vs synthetic counts (in percent) for categorical columns</p>
    {% for uni_img in uni_imgs -%}
    <div>
        <img src="{{uni_img}}" width="600">
    </div>
    {% endfor %}
</div>
<div>
    <h2>Correlations</h2>
    <p>The correlation metric is calculated in the following manner: for each pair of numeric columns in original
        dataset a pairwise correlations is measured thus resulting in the correlations matrix. The same operation
        is performed for the synthetic dataset. The resulting matrix is the difference between original correlation
        matrix and the synthetic one</p>
    <img src="{{correlations_heatmap}}" width="700">
</div>
<div>
    <h2>Clustering metric</h2>
    <p>For clustering metric, both original and synthetic datasets are concatenated. After this, a clustering using
        K-means is performed on the concatenated dataset. The optimal number of clusters is chosen using the elbow
        rule. For the good synthetic data the proportion of original to synthetic records in each cluster
        should be close to 1:1. The mean clusters homogeneity is calculated as a mean of ratios of original to synthetic
        records in each cluster</p>
    <img src="{{clusters_barplot}}" width="700">
    <p>Mean clusters homogeneity is: {{clustering_value}}</p>
</div>
<div>
    <h2>Bivariate distributions</h2>
    <p>Bivariate distributions are actually the two-dimensional histograms. For each pair of columns each combination
        of their values' levels are plotted as a matrix, thus resulting in a grid. In each cell of this grid a number
        of records belonging to both classes simultaneously is calculated. For instance, for the column with
        values "Monday", "Tuesday", "Sunday" and column with values "Working", "Museum visiting" and "Walking"
        a count of each activity in each day will be calculated and plotted in the corresponding cell.
        For good synthetic data the pattern of bivariate distribution should match the original distribution</p>
    {% for bi_img in bi_imgs -%}
    <div>
        <img src="{{bi_img}}" width="900">
    </div>
    {% endfor %}
</div>
<div>
    <h2>Utility metric</h2>
    <p>For utility calculation an automatic modeling process is engaged. For every binary, categorical and continuous
    column it builds a model using given column as a target and other columns as predictors. Then the best target in
    terms of accuracy is chosen. For each of the best targets for different modeling tasks a model is trained on
    the original dataset, then tested on synthetic one. For the good synthetic data the score of model on the generated
    data should be close to the original one</p>
    <img src="{{utility_barplot}}" width="700">
    <table>{{utility_table}}<table>
</div>
</body>
</html>